select {
  margin: 2vh 40vw;
  width: 20vw;
}

table {
  margin: auto;
}

thead {
  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

th, td {
  padding: 5px;
}

td {
  width: 20vw;
}
